:root {
    --main-font: 'Roboto', sans-serif;
    --accent-color: #2196F3;
    --main-color: #212121;
    --second-color: #757575;
    --background-color: #2F303A;
    --modal-btn-accent-color: #188CE8;
    --logo-header: #000000;
    --contact-footer-color: rgba(255, 255, 255, 0.6);
    --filter-button-bg: #F5F4FA;
    --main-light-color: #FFFFFF;
    --border-bottom-portfolio-color: #EEEEEE;
    --border-bottom-header-color: #ECECEC;
    --icon-color: #AFB1B8;
}
